In [1]:
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('C:\\Users\\saipr\\Downloads\\StudentHoursScores.csv')
df

    Hours  Scores
0     7.7      79
1     5.9      60
2     4.5      45
3     3.3      33
4     1.1      12
5     8.9      87
6     2.5      21
7     1.9      19
8     2.7      29
9     8.3      81
10    5.5      58
11    9.2      88
12    1.5      14
13    3.5      34
14    8.5      85
15    3.2      32
16    6.5      66
17    2.5      21
18    9.6      96
19    4.3      42
20    4.1      40
21    3.0      30
22    2.6      25

In [3]:
df.head()

   Hours  Scores
0    7.7      79
1    5.9      60
2    4.5      45
3    3.3      33
4    1.1      12

In [4]:
df.columns

Index(['Hours', 'Scores'], dtype='object')

In [5]:
df.corr

<bound method DataFrame.corr of     Hours  Scores
0     7.7      79
1     5.9      60
2     4.5      45
3     3.3      33
4     1.1      12
5     8.9      87
6     2.5      21
7     1.9      19
8     2.7      29
9     8.3      81
10    5.5      58
11    9.2      88
12    1.5      14
13    3.5      34
14    8.5      85
15    3.2      32
16    6.5      66
17    2.5      21
18    9.6      96
19    4.3      42
20    4.1      40
21    3.0      30
22    2.6      25>

In [6]:
df.min()

Hours      1.1
Scores    12.0
dtype: float64

In [7]:
df.max()

Hours      9.6
Scores    96.0
dtype: float64

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.describe()

           Hours     Scores
count  23.000000  23.000000
mean    4.817391  47.695652
std     2.709688  27.103228
min     1.100000  12.000000
25%     2.650000  27.000000
50%     4.100000  40.000000
75%     7.100000  72.500000
max     9.600000  96.000000

In [10]:
x=df.iloc[:,0:-1]
y=df.iloc[:,-1]
print(x.head())
print(y.head())
print(x.shape,y.shape)

   Hours
0    7.7
1    5.9
2    4.5
3    3.3
4    1.1
0    79
1    60
2    45
3    33
4    12
Name: Scores, dtype: int64
(23, 1) (23,)

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(18, 1)
(5, 1)
(18,)
(5,)

In [12]:
from sklearn.linear_model import LinearRegression 
std_model=LinearRegression()
std_model.fit(x_train,y_train)

LinearRegression()

In [13]:
y_pred=std_model.predict(x_test)
print(y_pred)
print(y_test)
print(x_test)

[40.87711348 25.025345   32.95122924 34.9327003  42.85858454]
20    40
17    21
3     33
13    34
19    42
Name: Scores, dtype: int64
    Hours
20    4.1
17    2.5
3     3.3
13    3.5
19    4.3

In [14]:
print(std_model.coef_)
print(std_model.intercept_)
from sklearn.metrics import r2_score,mean_squared_error
print('accuracy is',r2_score(y_test,y_pred))
print(mean_squared_error(y_test,y_pred))

[9.9073553]
0.2569567372371182
accuracy is 0.9311770139374422
3.716441247378121

In [15]:
vif=1/1-(r2_score(y_test,y_pred))
vif

0.06882298606255777